@import '../../styles/variables.scss';


.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 45px;
  padding: 4px 28px;
  background-color: $element-background;
  margin-bottom: 1px;
  &__label {
    width: 89%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  &__buttons {
    width: 8%;
    display: flex;
  }
  &__button {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 3px;
    opacity: .5;
    &:hover { opacity: 1; }
    svg { pointer-events: none; }
    &--done {
      border-color: #1EFE4F;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--delete {
      position: relative;
      border-color: #fe1e1e;
      margin-left: 9px;
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;

        width: 15px;
        height: 1px;
        background-color: #fe1e1e;
      }
      &::after { transform: translate(-50%, -50%) rotate(45deg) }
      &::before { transform: translate(-50%, -50%) rotate(-45deg) }
    }
  }
  &--done {
    opacity: .6;
    .todo-list-item__label { opacity: .3; }
    .todo-list-item__button { 
      opacity: .3;
      &:hover { opacity: .5; }
    }
  }
}

