@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import '../../styles/bootstrap-reboot.min.scss';
@import '../../styles/library-flex.scss';
@import '../../styles/variables.scss';
@import '../../styles/transition.scss';


body {
  background-color: $main-background;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.app {
  margin-top: 10rem;
  &-header {
    display: flex;
    justify-content: space-between;
  }
  &-content, &-form { padding-top: 16px; }
  margin-bottom: 10rem;
}