@import '../../styles/bootstrap-reboot.min.scss';
@import '../../styles/library-flex.scss';
@import '../../styles/variables.scss';
@import '../../styles/transition.scss';


body {
  background-color: $main-background;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.app {
  margin-top: 10rem;
  &-header {
    display: flex;
    justify-content: space-between;
  }
}